#menu{float:left;width:10%;height:80%;margin:0px;margin-right:0px;}
#navbar{background-color:gray;display:block;border:;text-decoration:none
;margin-right:5px;font-family:"Arial Black",Gadget,sans-serif;padding:20px}
#navbar ul{}
