background{background-color:blue}
FORM{background-color:683852;border-radius:20px;width:60%;padding:30px;margin-top:30px;margin-left:auto;margin-right:auto}
b1{position:center;background-image:url(dollar.jpg)}
#form1{text-align:justify;color:gold;font-size:100%;font-weight:400}
.error{visibility:hidden;color:green;font-size:10pt}