FORM{background-color:457845;border-radius:20px;width:70%;padding:20px;margin-top:10px; margin-left:100px}
b1{position:center;background-image:url(dollar.jpg)}
h4{color:red}
#form2{text-align:justify;color:gold;font-size:100%;font-weight:400}
